<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AulaLayoutFatecZn"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFormatacao"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActivityRestaurar"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActivityDestruicao"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActivityConfirma"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActivityReiniciar"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActivityCadastro"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActivityRecuperar"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActivityWeather"
            android:exported="true">
        </activity>
    </application>

</manifest>